In [ ]:
# https://mathdatasimplified.com/2021/04/20/dataframe-pipe-increase-the-readability-of-your-code-when-applying-multiple-functions-to-a-dataframe/

DataFrame.pipe: Increase the Readability of your Code when Applying Multiple Functions to a DataFrame

If you want to increase the readability of your code when applying multiple functions to a DataFrame, use DataFrame.pipe method. Find an example of using the pipe method in the code above.

In [1]:
import pandas as pd
from textblob import TextBlob

In [2]:
def remove_white_space(df: pd.DataFrame):
    df['text'] = df['text'].apply(lambda row: row.strip())
    return df

In [3]:
def get_sentiment(df: pd.DataFrame):
    df['sentiment'] = df['text'].apply(lambda row: TextBlob(row).sentiment[0])
    return df

In [4]:
df= pd.DataFrame({'text':["It is a beautiful day today   ",
                         "  This movie is terrible"]})

In [5]:
df

                             text
0  It is a beautiful day today
1          This movie is terrible

In [6]:
df1 = remove_white_space(df)
df1 = get_sentiment(df1)
df1

                          text  sentiment
0  It is a beautiful day today       0.85
1       This movie is terrible      -1.00

In [7]:
df2 = (df.pipe(remove_white_space)
        .pipe(get_sentiment)
     )
df2

                          text  sentiment
0  It is a beautiful day today       0.85
1       This movie is terrible      -1.00