# Importa Bibliotecas

In [4]:
import pandas as pd

# Dados

In [5]:

source = pd.DataFrame({
    'CPF'  : ['0000','0000', '0000', '1111','1111'], 
    'Cat'  : ['AAA', 'BBB','CCC', 'DDD', 'AAA'],
    'Qtde' : [3,3,3,12,1]})

source

    CPF  Cat  Qtde
0  0000  AAA     3
1  0000  BBB     3
2  0000  CCC     3
3  1111  DDD    12
4  1111  AAA     1

# Engenharia

In [6]:
forma1 = source.groupby(['CPF', 'Qtde'])['Cat'].apply(','.join).reset_index()
forma1.head()

    CPF  Qtde          Cat
0  0000     3  AAA,BBB,CCC
1  1111     1          AAA
2  1111    12          DDD

In [7]:
forma2 = forma1.sort_values('Qtde', ascending=False).drop_duplicates('CPF').sort_index().reset_index(drop=True)
forma2.head()

    CPF  Qtde          Cat
0  0000     3  AAA,BBB,CCC
1  1111    12          DDD