DataFrame.pipe: Increase the Readability of your Code when Applying Multiple Functions to a DataFrame

If you want to increase the readability of your code when applying multiple functions to a DataFrame, use DataFrame.pipe method. Find an example of using the pipe method in the code above.

In [20]:
import pandas as pd

In [21]:
def func_1(df=None):
    df['text'] = df['text'].str.replace('3','e')
    return df

def func_2(df=None):
    df['text'] = df['text'].str.strip()
    return df

In [22]:
df= pd.DataFrame({'text':["It is a b3autiful day today   ",
                         "  This movi3 is t3rribl3"]})
df

                             text
0  It is a b3autiful day today
1          This movi3 is t3rribl3

In [23]:
df1 = func_1(df)
df1 = func_2(df1)
df1

                          text
0  It is a beautiful day today
1       This movie is terrible

In [24]:
df

                          text
0  It is a beautiful day today
1       This movie is terrible

In [25]:
df= pd.DataFrame({'text':["It is a b3autiful day today   ",
                         "  This movi3 is t3rribl3"]})
df

                             text
0  It is a b3autiful day today
1          This movi3 is t3rribl3

In [26]:
df2 = (df.pipe(func_1)
         .pipe(func_2)
)
df2

                          text
0  It is a beautiful day today
1       This movie is terrible